Flows/flows.json
[
    {
        "id": "5accdb4228d7ea1e",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "650aa3941c4d2ca5",
        "type": "mqtt in",
        "z": "5accdb4228d7ea1e",
        "name": "",
        "topic": "raspb/autobuses",
        "qos": "2",
        "datatype": "auto",
        "broker": "31f7c2e.96d49be",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "55026214d9dbd4c4",
                "d3ce69ec92bdba99"
            ]
        ]
    },
    {
        "id": "95c4f15bea097740",
        "type": "function",
        "z": "5accdb4228d7ea1e",
        "name": "",
        "func": "// Recolectamos la informacion obtenida del JSON generado por la Raspberry Pi\nvar Estacion = msg.payload.id_estacion;\nvar Bus = msg.payload.id_autobus;\nvar Entrada = msg.payload.h_entrada;\nvar Salida = msg.payload.h_salida;\nvar msg2 = {};\n// Insertamos en la BD \ntopic = \"INSERT INTO estacion VALUES \"\ntopic = topic + `(${Bus}, ${Estacion}, ${Entrada}, ${Salida})`\nmsg2.topic = topic;\nreturn msg2",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 200,
        "wires": [
            [
                "e130bdd7135c7ae6"
            ]
        ]
    },
    {
        "id": "e130bdd7135c7ae6",
        "type": "mysql",
        "z": "5accdb4228d7ea1e",
        "mydb": "dac54363429d7483",
        "name": "",
        "x": 730,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "55026214d9dbd4c4",
        "type": "json",
        "z": "5accdb4228d7ea1e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "95c4f15bea097740"
            ]
        ]
    },
    {
        "id": "26a2b377014537f8",
        "type": "inject",
        "z": "5accdb4228d7ea1e",
        "name": "Fetch UID",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 380,
        "wires": [
            [
                "fa556ae54b3deb72"
            ]
        ]
    },
    {
        "id": "fa556ae54b3deb72",
        "type": "function",
        "z": "5accdb4228d7ea1e",
        "name": "",
        "func": "//Creamos una query para pedir las UID de los camiones registrados\nvar query\nquery = 'SELECT uid FROM users'\nmsg.topic = query\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 380,
        "wires": [
            [
                "13ec702642755ea6"
            ]
        ]
    },
    {
        "id": "13ec702642755ea6",
        "type": "mysql",
        "z": "5accdb4228d7ea1e",
        "mydb": "dac54363429d7483",
        "name": "",
        "x": 510,
        "y": 380,
        "wires": [
            [
                "91717e81e12572f9"
            ]
        ]
    },
    {
        "id": "91717e81e12572f9",
        "type": "function",
        "z": "5accdb4228d7ea1e",
        "name": "",
        "func": "//Guardamos las ID en un array unidimensional, facilitando su lectura\nvar size = msg.payload.length;\nvar arrayID = [];\nfor (var i = 0; i<size; i++){\n    arrayID[i] = msg.payload[i].uid;\n}\n\n//Guardamos el arreglo y el tamaño como variables en todo el flow\nflow.set('arregloID', arrayID)\nflow.set('arregloSize', size)\n\nmsg.payload = arrayID\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "293636bfe744d953",
        "type": "function",
        "z": "5accdb4228d7ea1e",
        "name": "",
        "func": "//Obtenemos las ID y el tamaño del arreglo que se encuentran dentro del flow\nvar ID = flow.get('arregloID')\nvar size = flow.get('arregloSize')\n//Generamos un numero entero aleatorio, desde 0 hasta el tamaño del arreglo\nvar random = Math.floor(Math.random() * (size - 0)) + 0;\n//Obtenemos el tiempo actual y lo dividimos entre 1000 para obtener los segundos\nvar tiempo_salida = Date.now()/1000\n//Al tiempo actual le restamos un numero de segundos aleatorio entre 60 y 600\nvar tiempo_llegada = tiempo_salida - (Math.floor(Math.random()*(600-60))) + 60\n//Generamos una estacion aleatoria desde 400 a 500\nvar estacion = (Math.floor(Math.random()*(15-10))) + 10 \n//Creamos un query que inserte los datos que generamos en la BD \"Horario_ruta\"\nvar query = `INSERT INTO estacion VALUES (${ID[random]},${estacion}, ${tiempo_llegada}, ${tiempo_salida})`\nmsg.topic = query // Colocamos la query en el msg.topic\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 780,
        "wires": [
            [
                "bf3478f704bba627"
            ]
        ]
    },
    {
        "id": "bf3478f704bba627",
        "type": "mysql",
        "z": "5accdb4228d7ea1e",
        "mydb": "dac54363429d7483",
        "name": "",
        "x": 610,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "c8d7c632830616f9",
        "type": "inject",
        "z": "5accdb4228d7ea1e",
        "name": "Tres minutos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "180",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 780,
        "wires": [
            [
                "293636bfe744d953"
            ]
        ]
    },
    {
        "id": "7692898db364ec6b",
        "type": "inject",
        "z": "5accdb4228d7ea1e",
        "name": "Cinco minutos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 840,
        "wires": [
            [
                "91a48292c1b050d2"
            ]
        ]
    },
    {
        "id": "e5487a3ae6839d40",
        "type": "inject",
        "z": "5accdb4228d7ea1e",
        "name": "Ocho minutos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "480",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 900,
        "wires": [
            [
                "f3f97b7131fca181"
            ]
        ]
    },
    {
        "id": "de97357543d57239",
        "type": "inject",
        "z": "5accdb4228d7ea1e",
        "name": "Diez minutos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 160,
        "y": 960,
        "wires": [
            [
                "1265694257977424"
            ]
        ]
    },
    {
        "id": "2db032631249bd11",
        "type": "comment",
        "z": "5accdb4228d7ea1e",
        "name": "Bloque de simulación.",
        "info": "Este bloque de simulación inserta datos de manera semi-aleatoria en diferentes invervalos de tiempo. \nLos datos referentes a la información del conductor son extraidos de la base de datos \"users\", por lo que no son generados aleatoriamente, sin emabargo, el orden en el que se publican es aleatorio",
        "x": 140,
        "y": 740,
        "wires": []
    },
    {
        "id": "72505925b2f99c41",
        "type": "comment",
        "z": "5accdb4228d7ea1e",
        "name": "Bloque de recoleeción de estación",
        "info": "",
        "x": 180,
        "y": 140,
        "wires": []
    },
    {
        "id": "761123287a6579af",
        "type": "comment",
        "z": "5accdb4228d7ea1e",
        "name": "Bloque para refrescar la lista de conductores",
        "info": "",
        "x": 190,
        "y": 340,
        "wires": []
    },
    {
        "id": "91a48292c1b050d2",
        "type": "function",
        "z": "5accdb4228d7ea1e",
        "name": "",
        "func": "//Obtenemos las ID y el tamaño del arreglo que se encuentran dentro del flow\nvar ID = flow.get('arregloID')\nvar size = flow.get('arregloSize')\n//Generamos un numero entero aleatorio, desde 0 hasta el tamaño del arreglo\nvar random = Math.floor(Math.random() * (size - 0)) + 0;\n//Obtenemos el tiempo actual y lo dividimos entre 1000 para obtener los segundos\nvar tiempo_salida = Date.now()/1000\n//Al tiempo actual le restamos un numero de segundos aleatorio entre 60 y 600\nvar tiempo_llegada = tiempo_salida - (Math.floor(Math.random()*(600-60))) + 60\n//Generamos una estacion aleatoria desde 400 a 500\nvar estacion = (Math.floor(Math.random()*(15-10))) + 10 \n//Creamos un query que inserte los datos que generamos en la BD \"Horario_ruta\"\nvar query = `INSERT INTO estacion VALUES (${ID[random]},${estacion}, ${tiempo_llegada}, ${tiempo_salida})`\nmsg.topic = query // Colocamos la query en el msg.topic\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 840,
        "wires": [
            [
                "bf3478f704bba627"
            ]
        ]
    },
    {
        "id": "f3f97b7131fca181",
        "type": "function",
        "z": "5accdb4228d7ea1e",
        "name": "",
        "func": "//Obtenemos las ID y el tamaño del arreglo que se encuentran dentro del flow\nvar ID = flow.get('arregloID')\nvar size = flow.get('arregloSize')\n//Generamos un numero entero aleatorio, desde 0 hasta el tamaño del arreglo\nvar random = Math.floor(Math.random() * (size - 0)) + 0;\n//Obtenemos el tiempo actual y lo dividimos entre 1000 para obtener los segundos\nvar tiempo_salida = Date.now()/1000\n//Al tiempo actual le restamos un numero de segundos aleatorio entre 60 y 600\nvar tiempo_llegada = tiempo_salida - (Math.floor(Math.random()*(600-60))) + 60\n//Generamos una estacion aleatoria desde 400 a 500\nvar estacion = (Math.floor(Math.random()*(15-10))) + 10 \n//Creamos un query que inserte los datos que generamos en la BD \"Horario_ruta\"\nvar query = `INSERT INTO estacion VALUES (${ID[random]},${estacion}, ${tiempo_llegada}, ${tiempo_salida})`\nmsg.topic = query // Colocamos la query en el msg.topic\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 900,
        "wires": [
            [
                "bf3478f704bba627"
            ]
        ]
    },
    {
        "id": "1265694257977424",
        "type": "function",
        "z": "5accdb4228d7ea1e",
        "name": "",
        "func": "//Obtenemos las ID y el tamaño del arreglo que se encuentran dentro del flow\nvar ID = flow.get('arregloID')\nvar size = flow.get('arregloSize')\n//Generamos un numero entero aleatorio, desde 0 hasta el tamaño del arreglo\nvar random = Math.floor(Math.random() * (size - 0)) + 0;\n//Obtenemos el tiempo actual y lo dividimos entre 1000 para obtener los segundos\nvar tiempo_salida = Date.now()/1000\n//Al tiempo actual le restamos un numero de segundos aleatorio entre 60 y 600\nvar tiempo_llegada = tiempo_salida - (Math.floor(Math.random()*(600-60))) + 60\n//Generamos una estacion aleatoria desde 400 a 500\nvar estacion = (Math.floor(Math.random()*(15-10))) + 10 \n//Creamos un query que inserte los datos que generamos en la BD \"Horario_ruta\"\nvar query = `INSERT INTO estacion VALUES (${ID[random]},${estacion}, ${tiempo_llegada}, ${tiempo_salida})`\nmsg.topic = query // Colocamos la query en el msg.topic\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 960,
        "wires": [
            [
                "bf3478f704bba627"
            ]
        ]
    },
    {
        "id": "d3ce69ec92bdba99",
        "type": "debug",
        "z": "5accdb4228d7ea1e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 280,
        "wires": []
    },
    {
        "id": "05ddc0faee16051e",
        "type": "function",
        "z": "5accdb4228d7ea1e",
        "name": "",
        "func": "//Obtenemos las ID y el tamaño del arreglo que se encuentran dentro del flow\nvar ID = flow.get('arregloID')\nvar size = flow.get('arregloSize')\n\n//Generamos un numero entero aleatorio, desde 0 hasta el tamaño del arreglo\n\nvar random = Math.floor(Math.random() * (size - 0)) + 0;\n\nvar pasajeros = Math.floor(Math.random() * (25));\nvar hora = new Date();\nvar hora_actual = hora.getTime() / 1000;\nvar query = `INSERT INTO pasajeros VALUES (${ID[random]}, ${pasajeros}, ${hora_actual})`\nmsg.topic = query // Colocamos la query en el msg.topic\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1080,
        "wires": [
            [
                "85c75d87414f3103"
            ]
        ]
    },
    {
        "id": "85c75d87414f3103",
        "type": "mysql",
        "z": "5accdb4228d7ea1e",
        "mydb": "dac54363429d7483",
        "name": "",
        "x": 590,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "9077eed4a9c06ab0",
        "type": "inject",
        "z": "5accdb4228d7ea1e",
        "name": "Tres minutos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "180",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 1080,
        "wires": [
            [
                "05ddc0faee16051e"
            ]
        ]
    },
    {
        "id": "2c8ef5578b3a855c",
        "type": "inject",
        "z": "5accdb4228d7ea1e",
        "name": "Cinco minutos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 1140,
        "wires": [
            [
                "b267aa62ea7e5564"
            ]
        ]
    },
    {
        "id": "e749404d6ee45b29",
        "type": "inject",
        "z": "5accdb4228d7ea1e",
        "name": "Ocho minutos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "480",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 1200,
        "wires": [
            [
                "d787292d82626b06"
            ]
        ]
    },
    {
        "id": "fb04b45e053c3228",
        "type": "inject",
        "z": "5accdb4228d7ea1e",
        "name": "Diez minutos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 1260,
        "wires": [
            [
                "d1460689d76f1dbe"
            ]
        ]
    },
    {
        "id": "b267aa62ea7e5564",
        "type": "function",
        "z": "5accdb4228d7ea1e",
        "name": "",
        "func": "//Obtenemos las ID y el tamaño del arreglo que se encuentran dentro del flow\nvar ID = flow.get('arregloID')\nvar size = flow.get('arregloSize')\n\n//Generamos un numero entero aleatorio, desde 0 hasta el tamaño del arreglo\n\nvar random = Math.floor(Math.random() * (size - 0)) + 0;\n\nvar pasajeros = Math.floor(Math.random() * (25));\nvar hora = new Date();\nvar hora_actual = hora.getTime() / 1000;\nvar query = `INSERT INTO pasajeros VALUES (${ID[random]}, ${pasajeros}, ${hora_actual})`\nmsg.topic = query // Colocamos la query en el msg.topic\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1140,
        "wires": [
            [
                "85c75d87414f3103"
            ]
        ]
    },
    {
        "id": "d787292d82626b06",
        "type": "function",
        "z": "5accdb4228d7ea1e",
        "name": "",
        "func": "//Obtenemos las ID y el tamaño del arreglo que se encuentran dentro del flow\nvar ID = flow.get('arregloID')\nvar size = flow.get('arregloSize')\n\n//Generamos un numero entero aleatorio, desde 0 hasta el tamaño del arreglo\n\nvar random = Math.floor(Math.random() * (size - 0)) + 0;\n\nvar pasajeros = Math.floor(Math.random() * (25));\nvar hora = new Date();\nvar hora_actual = hora.getTime() / 1000;\nvar query = `INSERT INTO pasajeros VALUES (${ID[random]}, ${pasajeros}, ${hora_actual})`\nmsg.topic = query // Colocamos la query en el msg.topic\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1200,
        "wires": [
            [
                "85c75d87414f3103"
            ]
        ]
    },
    {
        "id": "d1460689d76f1dbe",
        "type": "function",
        "z": "5accdb4228d7ea1e",
        "name": "",
        "func": "//Obtenemos las ID y el tamaño del arreglo que se encuentran dentro del flow\nvar ID = flow.get('arregloID')\nvar size = flow.get('arregloSize')\n\n//Generamos un numero entero aleatorio, desde 0 hasta el tamaño del arreglo\n\nvar random = Math.floor(Math.random() * (size - 0)) + 0;\n\nvar pasajeros = Math.floor(Math.random() * (25));\nvar hora = new Date();\nvar hora_actual = hora.getTime() / 1000;\nvar query = `INSERT INTO pasajeros VALUES (${ID[random]}, ${pasajeros}, ${hora_actual})`\nmsg.topic = query // Colocamos la query en el msg.topic\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1260,
        "wires": [
            [
                "85c75d87414f3103"
            ]
        ]
    },
    {
        "id": "32fa0d22bcdef193",
        "type": "mqtt in",
        "z": "5accdb4228d7ea1e",
        "name": "",
        "topic": "raspb/registro",
        "qos": "2",
        "datatype": "auto",
        "broker": "31f7c2e.96d49be",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 110,
        "y": 520,
        "wires": [
            [
                "92f90542a239dc7e",
                "1186f9cccce484f0"
            ]
        ]
    },
    {
        "id": "7403a32a5ac1c720",
        "type": "function",
        "z": "5accdb4228d7ea1e",
        "name": "",
        "func": "// Recolectamos la informacion obtenida del JSON generado por la Raspberry Pi\nvar hora = msg.payload.hora;\nvar total = msg.payload.total;\nvar uid = msg.payload.id_contador;\n// Insertamos en la BD \ntopic = \"INSERT INTO pasajeros VALUES \"\ntopic = topic + `(${uid}, ${total}, ${hora})`\nmsg.topic = topic;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 520,
        "wires": [
            [
                "d4871964e8fbddd8"
            ]
        ]
    },
    {
        "id": "d4871964e8fbddd8",
        "type": "mysql",
        "z": "5accdb4228d7ea1e",
        "mydb": "dac54363429d7483",
        "name": "",
        "x": 730,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "92f90542a239dc7e",
        "type": "json",
        "z": "5accdb4228d7ea1e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 520,
        "wires": [
            [
                "7403a32a5ac1c720"
            ]
        ]
    },
    {
        "id": "1186f9cccce484f0",
        "type": "debug",
        "z": "5accdb4228d7ea1e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 600,
        "wires": []
    },
    {
        "id": "6f06f1248f45e78a",
        "type": "comment",
        "z": "5accdb4228d7ea1e",
        "name": "Bloque para recibir el conteo de pasajeros",
        "info": "",
        "x": 180,
        "y": 480,
        "wires": []
    },
    {
        "id": "9070e1effc6cde01",
        "type": "comment",
        "z": "5accdb4228d7ea1e",
        "name": "IMPORTANTE",
        "info": "Recuerda actualizar el broker público de MQTT (HiveMQ) tanto en el flow como en los programas de la Raspberry Pi.\nDe no hacerlo, lo más probable es que no funcione.",
        "x": 100,
        "y": 660,
        "wires": []
    },
    {
        "id": "31f7c2e.96d49be",
        "type": "mqtt-broker",
        "name": "",
        "broker": "18.197.171.34",
        "port": "1883",
        "clientid": "victor22-flores22-vargas22",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "dac54363429d7483",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "RegistroAutobuses",
        "tz": "",
        "charset": "UTF8"
    }
]
